/* Input form fields */

.code {
  font-family: monospace;
}

.form_label {
  width: 150px !important;
  margin-right: 20px;
  display: inherit;
}
.form_input {
  width: 250px !important;
  display: inherit;
}

select {
  padding: .5em .75em;
  vertical-align: middle;
  font-size: 12px;
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #aaa;
  border-radius: 2px;
  width:270px !important;
}

/* Messages */
/*  based on http://isabelcastillo.com/error-info-messages-css */
body{
  position: relative;
}

.busy, .info, .success, .warning, .error {
  position: absolute;
  top: 1;
  width: 100%;
  z-index: 10;
  margin: 0px;
  padding: 0px;
}
.busy     {color: #00529B;background-color: #BDE5F8;}
.info     {color: #00529B;background-color: #BDE5F8;}
.success  {color: #4F8A10;background-color: #DFF2BF;}
.warning  {color: #9F6000;background-color: #FEEFB3;}
.error    {color: #D8000C;background-color: #FFBABA;}
.busy i, .info i, .success i, .warning i, .error i {
  margin:5px 7px;
  vertical-align:middle;
}

/* IP-table */
table#whitelist {
  margin-left: 15px;
}
table#whitelist tr th.entry,
table#whitelist tr td.entry {
  border-top: 1px solid #ddd;
  vertical-align: middle;
  padding: 3px;
  font-size:12px;
  white-space: normal;
  word-break: break-all;
}

.settings-itemgroup {
  display: table;
  width: 100%;
  background-color: rgb(255,255,255);
  margin-top: 8px;
  margin-bottom: 8px;
  border-style: solid;
  border-top-width: 1px;
  border-left-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-color: rgb(199,199,203);
}

.settings-item {
  display: table-row;
  background-color: rgb(255,255,255);
}

.settings-item-text {
  display: table-cell;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  vertical-align: middle;
  white-space: nowrap;
  font-family: -apple-system;
  font-size: 14px;
}

.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: rgb(75, 215, 98); }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }
